html, body, #root {
    height: 100vh;
}

body {
    background-color: #005691;  
}


body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    height: 2.4rem;
    border-radius: 0.8rem;
    outline: 0;
    padding-left: 1.2rem;
    width: 3.6rem;
}

