@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
}

html, body, #root {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;

    background-color: #18191A;;
    font-family: 'Poppins';
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

label {
    color: #fff;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-block input {
    height: 2.4rem;
    border-radius: 0.8rem;
    outline: 0;
    text-align: center;
    width: 6.6rem;

    font-size: 1.1rem;
    font-family: 'Poppins';
}



